<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="bootstrap.php" strict="true">
    <testsuites>
        <testsuite name="service">
            <directory>App</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>../../Tests</directory>
            <file>../../autoload.php</file>
        </blacklist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8"/>
    </logging>
</phpunit>
